<div class="container">
  <div class="row">

    <div class="col-6">
      Users who have completed <%= @todo.title %>:
      <br>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </div>

    <div class="col-3">
      Ranking:
      <br>
      <ol type="1">


      <% @ranking.each do |assign| %>
      <li>
      <div class="card">
        <%= assign.user.name %>
        <%= image_tag assign.user.photo, class:'card-img-top  ' %>
      </div>
      </li>
      <% end %>
      </ol>
    </div>

  </div>
</div>
