<div class="container">
  <div class="row">

    <div class="p-1 col-12 col-sm-6 container">
      <h4>Users who have completed <%= @todo.title %>:</h4>
      <br>
      <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </div>

    <div class="p-1 col-12 col-sm-6 container">
      <h4>Ranking:</h4>
      <br>
      <ol type="1">


      <% @ranking.each do |assign| %>
      <li>
      <div class="card col-9 p-2 m-3">
        <%= assign.user.name %>
        <%= image_tag assign.user.photo, class:'card-img-top  ' %>
      </div>
      </li>
      <% end %>
      </ol>
    </div>

  </div>
</div>
