<div class="container">
<%= @user.email %>
  <div class="row">
    <% @assignments.each do |assignment|%>
      <div class="col-4">
        <div class="card">
          <%= image_tag assignment.photo, class: 'card-img-top' %>
          <%= assignment.title%>
        </div>
      </div>
    <% end %>
  </div>
</div>
