<div class="container">


  <div class="row">

    <% @assignments.each do |assignment|%>
      <div class="col-4">
        <div class="card">
          <%= image_tag assignment.todo.photo, class: 'card-img-top' %>
          <table>
            <tr>
              <td><%= assignment.todo.title %></td>
              <td><%= link_to 'View Details', assignments_show_path(:params => {:assignment_id => assignment.id}) %></td>
              <td>
              <button class="btn btn-info"><%= link_to 'Complete', assignments_change_status_path(:params => {:assignment_id => assignment.id}), method: :post %>
              </button>
              </td>
            </tr>
          </table>

        </div>
      </div>
    <% end %>
  </div>
</div>
